__pycache__/
*.py[cod]
*.so
*.pyd
venv/
.venv/

.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

plans
merged_output/
mod_overrides/
user_config.json
_remap_temp
history_config_pack/

# 构建产物
build/
build_test/
dist/
_skbuild/
*.spec
.agent
.claude

# 项目自定义文件夹
bug
tmp
.mypy_cache
.pytest_cache
.ruff_cache
sudan.code-workspace
skills-lock.json
build_debug
cmake-build-debug