__pycache__/
*.py[cod]
*.so
venv/
.venv/

.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

plans
merged_output/
mod_overrides/
user_config.json
_remap_temp
history_config_pack/

# PyInstaller
build/
dist/
*.spec
.agent
.claude

# 项目自定义文件夹
bug
tmp
